@import "tailwindcss";

@layer utilities {
  /* For Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* For IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}


.pt-robo-regular {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.pt-robo-bold {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: "Bohme";
    src: url('./assets/fonts/Bohme-Rounded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: ;
    src: url('./assets/fonts/');
} */